<h2 mat-dialog-title>Confirming visit date</h2>
<mat-label class="font-size-26">{{ this.dateManager.transform(date)}}</mat-label> <br>
<mat-label> Are you sure to reserve that available date for your visit?</mat-label>
<mat-form-field>
  <mat-label>VISIT TYPE</mat-label>
  <mat-select required [(ngModel)]="data.visitType" name="visitType">
    <mat-option *ngFor="let vt of visitTypes" [value]="vt">
      {{ vt.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onNoClick()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="data.confirm = true"
          [mat-dialog-close]="data">Confirm</button>
</mat-dialog-actions>

