<h2 mat-dialog-title>Confirming available visit date</h2>
<mat-label class="font-size-26">{{ this.dateManager.transformDateTime(data.availableDate.date)}}</mat-label> <br>
<div class="margin-top-20px"><mat-label> Are you sure to set this time as a possibly visit date?</mat-label></div>
<br>
<mat-form-field>
  <mat-label>Duration time</mat-label>
  <mat-select required [(ngModel)]="data.availableDate.duration" name="repeatablePeriod">
    <mat-option *ngFor="let v of durationKeys" [value]="v">
      {{ visitDurationTime[v] }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-checkbox [(ngModel)]="data.availableDate.repeatable">
  Repeatable?
</mat-checkbox>
<br>
<ng-container *ngIf="data.availableDate.repeatable==true">
  <mat-form-field>
    <mat-label>Choose repeat period</mat-label>
    <mat-select required [(ngModel)]="data.availableDate.repeatablePeriod" name="repeatablePeriod">
      <mat-option *ngFor="let r of enumKeys" [value]="r">
        {{ repeatablePeriods[r] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="onNoClick()">Close</button>
  <button class="mat-raised-button mat-primary"
          [mat-dialog-close]="data">Confirm</button>
</mat-dialog-actions>

