<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a  mat-list-item type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a [routerLink]="''">
          Material Blog
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
          </li>
          <li>
            <a >
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Dashboard</span>
            </a>
          </li>
          <li>
            <a (click)="logout()">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main class="main">
      <div class="container row">
        <div class="column left-side-nav">
          <ng-container *ifRoles='["patient"]'>
            <button [routerLink]="'./calendar'" mat-raised-button mat-button color="primary"  class="button-style margin-top-2pp">Kalendarz</button>
            <button [routerLink]="'./register-for-an-appointment'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Rezerwacja terminu wizyty</button>
            <button [routerLink]="'./patient-visit-history'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Historia wizyt</button>
            <button [routerLink]="'./references'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Skierowania</button>
            <button [routerLink]="'./recipes'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Recepty</button>
<!--            <button [routerLink]="'./edm'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">EDM</button>-->
          </ng-container>
          <ng-container *ifRoles='["doctor"]'>
            <button [routerLink]="'./set-available-date-for-the-visit'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Dostępne terminy</button>
            <button [routerLink]="'./make-a-visit'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Wykonaj wizytę</button>
            <button [routerLink]="'./visits-history'" mat-raised-button mat-button color="primary" class="button-style margin-top-2pp">Historia wizyt</button>
          </ng-container>
        </div>
        <div class="router">
          <router-outlet></router-outlet>
        </div>
        <div class="column right-side-nav">
          <div style="width:100px; height:100px;border:1px solid blueviolet"></div>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

